@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #7159c1;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

header{
    padding: 30px;
    background-color: #3a2e62;
}

.links{
    text-align: center;
}

.links a{
    color: white;
    text-decoration: none;
    margin: 0 30px;
    font-size: 18px;
    line-height: 28px;
}

/*

    Deve ser aplicado um background - OK
    Deve ser utilizada a fonte Roboto - OK
    O header precisa ocupar todo o espaço lateral e superior (body sem margin) - OK
    O header precisa ter um espaçamento interno de 30px em todas as direções - OK
    Os links devem ter um espaçamento de 30px entre si - OK

*/