{% extends "layout.njk" %}

    {% block head %}
        <title>Rocketseat</title>  
    {% endblock %}

    {% block container %}

        <div id="wrapper">
            <img src="{{ about.logo_url }}" alt="Logo da Empresa {{ about.company }}">
            <h1>{{ about.company }}</h1>
            <p>{{ about.description }}</p>

            <ul>
                {% for tech in about.techs %}
                    <li>{{ tech.name }}</li>
                {% endfor%}
            </ul>

        </div>

    {% endblock %}

</html>