{% extends "layout.njk" %}

    {% block head %}
        <title>Rocketseat - Cursos</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}

    {% block container %}

        <div id="wrapper"> 
            <h1>Conteúdos</h1>           
        </div>

        <section class="cursos">

            {% for item in items %}

            <div class="curso" id="{{ item.id }}">
                <div class="curso-img">
                    <img src="{{ item.img_url }}" alt="{{ item.title }}">
                </div>

                <div class="curso-container">
                    <h2>{{ item.title }}</h2>                    
                </div>

                <div class="curso-info">
                    <p>{{ item.modules }} Módulos</p>

                    <hr class="row">
                    
                    <p class="curso-price"> {{ item.price }} </p>
                </div>
            </div>

            {% endfor%}

        </section>

        {# <div class="modal-overlay">

            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>
                <a class="maximize-modal">
                    <i class="material-icons">maximize</i>
                </a>

                <div class="modal-container">
                    <div class="hidden-scroll">
                        <iframe src="https://rocketseat.com.br/" frameborder="0"></iframe>
                    </div>
                </div>
            </div>

        </div>  #}

        <script src="scripts.js"></script>

    {% endblock %}

</html>