{% extends "layout.njk" %}

    {% block head %}
        <title>Rocketseat - 404</title>
    {% endblock%}

    {% block container %}

        <div id="wrapper">
            <h1>Nosso foguete foi ao infinito e não encontrou sua página :’( </h1>  
            <img class="rocket_404" src="./img/starter2.png" alt="Foguete">
            <p> Lamentamos mas nossa tripulação não encontrou sua página. <br>Tente refazer sua busca. </p>
        </div>

    {% endblock %}