@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{ 
    --color-roxo: #3a2e62;
    --color-roxoC: #8669e7;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: var(--color-roxoC);
    color: #fff;
    font-family: "Roboto", sans-serif;
}

header{
    padding: 30px;
    background-color: var(--color-roxo);
}

.links{
    text-align: center;
}

.links a{
    color: white;
    text-decoration: none;
    margin: 0 30px;
    font-size: 18px;
    line-height: 28px;
}

#footer.links a:hover{
    color: var(--color-roxo);
    transition: color 400ms;
}

#wrapper{
    padding: 20px;
    text-align: center;
}

#wrapper img{
    border-radius: 50%;
    border: 5px solid var(--color-roxo);
    height: 250px;
    margin-bottom: 20px;
}

#wrapper h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
}

#wrapper p{
    max-width: 600px;
    margin: 5px auto;
    font-size: 18px;
    line-height: 28px;
}

.prime_tech{
    font-weight: bold;
    margin-bottom: 10px;
}

ul{
    list-style: none;
    margin-top: 10px;
    
}

li{
    display: inline;
    margin-left: 50px;
}

li:nth-child(1){
    font-weight: bold;
    color: rgb(247, 212, 15);
}

li:nth-child(2){
    font-weight: bold;
    color: rgb(241, 101, 0);
}

li:nth-child(3){
    font-weight: bold;
    color: rgb(137, 236, 44);
}

li:nth-child(4){
    font-weight: bold;
    color: rgb(96, 174, 248);
}

li:nth-child(5){
    font-weight: bold;
    color: rgb(6, 86, 161);
}

/*Courses*/

.cursos{
    max-width: 900px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.curso{
    background-color: #00000050;
    text-align: center;
    border-radius: 50px 0;
}

.curso-img img{
    padding: 15px;
}

.curso-container,
.curso-info{
    padding: 14px;
}

.curso-info p{
    margin-bottom: 5px;
}

.curso-info hr{
    height:2px;
    border-width:0;
    background-color: var(--color-roxoC);
}

.curso-price{
    margin-top: 5px;
}

.curso-price p{
    margin-top: 25px;
}

.rocket_404{
    margin: 25px auto 25px;
}

/*Unique Course*/

.unique_course{
    max-width: 500px;
    margin: 40px auto;
}

.u_course{
    height: 450px;
    background-color: #00000099;
    text-align: center;
    border-radius: 50px 0;
    border: 2px solid #000;
}

.u_course-img{
    margin: 40px auto;
    padding: 15px;
}

.u_course-price{
    margin: 20px auto;
}

.u_course-info {
    width: 450px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.u_course-info a{
    text-decoration: none;
    color: chartreuse;
}